<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="wrapw">
        <div class="text-2"><%- two %></div>
        <div class="pagination">
          <a href="http://localhost:3000/">1</a>
          <a href="http://localhost:3000/a">2</a>
          <a href="http://localhost:3000/a/b">3</a>
          <a href="http://localhost:3000/a/b/c">4</a>
          <a href="http://localhost:3000/a/b/c/d">5</a>
          <a href="http://localhost:3000/a/b/c/d/e">6</a>
          <a href="http://localhost:3000/a/b/c/d/e/f">7</a>
          <a href="http://localhost:3000/a/b/c/d/e/f/g">8</a>
        </div>
      </div>
  </body>
</html>
