<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="wrapw">
        <div class="text">
          <%= text %>
        </div>
        <div class="pagination">
          <%- pagination %>
        </div>
      </div>
  </body>
</html>
