.up {
    position: relative;
    bottom: 74px;
    left: 5px;
    color: red;
    font-size: 22px;
}
.heart_up {
    position: absolute;
    color: red;
    top: 40px;
    left: 11px;
}
.down {
    position: relative;
    top: 52px;
    right: 6px;
    color: red;
    font-size: 22px;
}
.heart_down {
    position: absolute;
    color: red;
    bottom: 17px;
    right: 11px;
}
.center{
    font-size: 25px;
}

.box_cart_1, .back{
    height: 200px;
    width: 130px;
    border: 1px solid black;
    border-radius: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    backface-visibility: hidden;
    perspective: 1000px;
}
.box {
    width: 85%;
    height: 90%;
    border: 1px solid black;
    border-radius: 7%;
    background-image: repeating-linear-gradient(120deg, transparent, transparent 2%, red 2%, red 14%);
}
.block {
    position: relative;
}
.box1 {
    z-index: 1;
    left: 78px ;
}
.box1:hover {
    z-index: 100;
    margin-top: 65px;
    transition: 1s;
}
.box2 {
    z-index: 2;
    left: 156px;
    top: 0;
}
.box2:hover {
    margin-top: 65px;
    transition: 1s;
    z-index: 100;
}
.box3 {
    z-index: 3;
    left: 234px;
    top: 0;
}
.box3:hover {
    margin-top: 65px;
    transition: 1s;
    z-index: 100;
}
.box4 {
    z-index: 4;
    left: 312px;
    top: 0;
}
.box4:hover {
    margin-top: 65px;
    transition: 1s;
    z-index: 100;
}
.box5 {
    z-index: 5;
    left: 390px;
    top: 0;
}
.box5:hover {
    margin-top: 65px;
    transition: 1s;
    z-index: 100;
}
.second {
    top: 100px;
}
body {
    background-color: #d5d5d5;
}
.card {
    height: 200px;
    width: 130px;
    position: relative;
    
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 78px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    background-color: #fff;
    perspective: 1000px;
}
.front img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}
.back {
    margin-top: 65px;
}
.back img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    z-index: 1000;
}
.back {
    transform: rotateY(180deg);
    transition: 2s;
    z-index: 11111;
    box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
}
.card:hover .front {
    margin-top: 65px;
    transition: 2s;
    transform: rotateY(180deg);
}
.card:hover .back {
    transform: rotateY(360deg);
}