.wrap {
    width: 100px;
    height:auto;
}

.wrap ul{
    display:block;
    width:100%;
    height:auto;
    margin:0px;
    padding:0px;
    list-style:none;
    position:relative;
    text-align: center;
}

.wrap ul li{
    display:block; 
    width:100%; 
    height:auto; 
    position:relative;
}

.wrap ul li a{
    position:relative;
    display:block;
    width:100px;
    height:auto;
    box-sizing:border-box;
    font-size:13px;
    font-weight:bold;
    line-height:1.2em;
    padding:10px 15px;
    border:1px solid grey;
    text-decoration: none;
    color: black;
}

.wrap ul li a:hover{
    text-decoration: underline;
}
.wrap ul li ul{
    position:absolute;
    top:0px;
    left:100%;
    display:none;
    width:auto;
}

.wrap ul li:hover ul{
    display:block;
}
.wrap ul li ul li a{
    white-space:nowrap;
    
}

.wrap ul li ul li a:hover{
   
}