@font-face {
  font-family: 'Houschka Pro';
  src: url('HouschkaPro-Medium.eot');
  src: local('Houschka Pro Medium'), local('HouschkaPro-Medium'),
      url('../fonts/HouschkaPro-Medium.eot') format('embedded-opentype'),
      url('../fonts/HouschkaPro-Medium.woff2') format('woff2'),
      url('../fonts/HouschkaPro-Medium.woff') format('woff'),
      url('../fonts/HouschkaPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Houschka Pro Bold';
  src: url('HouschkaPro-Bold.eot');
  src: local('Houschka Pro Bold'), local('HouschkaPro-Bold'),
      url('../fonts/HouschkaPro-Bold.eot') format('embedded-opentype'),
      url('../fonts/HouschkaPro-Bold.woff2') format('woff2'),
      url('../fonts/HouschkaPro-Bold.woff') format('woff'),
      url('../fonts/HouschkaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  overflow: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/Background.png);
}
.first-cloud {
  padding-left: 33px;
}
.cloud {
  display: flex;
  justify-content: space-between;
  max-width: 787px;
  margin: 0 auto;
}

.description {
  margin-top: 33px;
  text-align: center;
}

.block-first p{
  font-size: 72px;
  font-family: 'Houschka Pro Bold';
  font-weight: bold;
  color: white;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.17);
  margin: 0;
  text-transform: uppercase;
  padding-left: 24px;
}
.block-second {
  margin-top: -9px;
}
.block-second p {
  font-size: 13.8px;
  font-family: 'Houschka Pro';
  color: rgb(38, 107, 151);
  padding-right: 2.5px;
}

.block-third {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-row {
  margin-top: 3px;
}
.input-row input {
  border: 0 none;
  border-radius: 4px;
  background-image: -moz-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(240,240,240) 0%, rgb(235,235,235) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 2px 5px 0px rgba(29, 26, 22, 0.2);
  width: 230px;
  height: 37px;
  font-size: 12px;
  font-family: "Arial";
  color: rgb(128, 128, 128);
  background: white;
  padding-left: 14.5px;
}
.btn {
  margin-top: 4px;
 
}
.btn button {
  border-radius: 4px;
  border: 1px solid rgb(250, 170, 34);
  background: linear-gradient(rgb(251,197,65), rgb(248,164,38), rgb(248,164,38));
  width: 96px;
  height: 40px;
  color: rgb(255, 255, 255);
  border: none;
  text-align: center;
  font-size: 14px;
  font-family: 'Houschka Pro Bold';
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(29, 26, 22, 0.2);
  margin-left: 5px;
}

.section-2 {
  background-image: url(../images/Rectangle\ 1.png);
  width: 100vw;
  margin-top: 208px;
  height: 100%;
}

.ice {
  text-align: center;
  margin-top: -200px;
  padding-right: 2px;
}
.ship {
  width: 100%;
  transform-origin: bottom;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}
.ship:before {
  content: attr(data-content);
  display: inline-block;
  position: absolute;
  left: .2em;
  width: 9em;
  height: 2em;
  padding: .2em;
  background-image: url(../images/ship.png);
  background-repeat: no-repeat;
  animation: timing 20s infinite;
  animation-timing-function: ease;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes timing {
  50%{
    left: 100%;
    margin-left: -3.6em;
  }
  5%{
    transform: scale(-1, 1);
  }
}
@keyframes bounce-1 {
  0%   { transform: translateY(-10px); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(-10px); }
}

.line-one {
  height: 4px;
  width: 100vw;
  background: #ddecfa;
}
.line-two {
  height: 9px;
  width: 100vw;
  background: #327DBD;
}
.crono {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -263px;
  
}
.cr-block {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Houschka Pro';
  color: rgb(38, 107, 151);
  z-index: 31;
  background: #b9d6ef;
  border-radius: 50%;
  margin: 0 auto;
}
.cr-wrap {
  z-index: 1000;
  margin: 20px 20px 20px 20px;
}
.cr-text {
  margin-top: 6px;
  font-size: 24px;
  font-family: 'Houschka Pro Bold';
  font-weight: bold;
  color: rgb(243, 243, 243);
  z-index: 31;
}
.cntr-b {
  margin: 21px 12.5px 19px 13px;
}
.cntr-a {
  margin: 20px 20px 18px 20px;
}

