@font-face {
    font-family: 'Montserrat-light';
    src: local('Montserrat Light'), 
    local('Montserrat-Light'), 
    url('../fonts/montserrat/montserratlight.woff2') format('woff2'), 
    url('../fonts/montserrat/montserratlight.woff') format('woff'), 
    url('../fonts/montserrat/montserratlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), 
    local('Montserrat-Regular'), 
    url('../fonts/montserrat/montserrat.woff2') format('woff2'), 
    url('../fonts/montserrat/montserrat.woff') format('woff'), 
    url('../fonts/montserrat/montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), 
    local('Raleway-Regular'), 
    url('../fonts/raleway/ralewayregular.woff2') format('woff2'), 
    url('../fonts/raleway/ralewayregular.woff') format('woff'), 
    url('../fonts/raleway/ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-medium';
    src: local('Raleway Medium'), 
    local('Raleway-Medium'), 
    url('../fonts/raleway/ralewaymedium.woff2') format('woff2'),
    url('../fonts/raleway/ralewaymedium.woff') format('woff'), 
    url('../fonts/raleway/ralewaymedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-semibold';
    src: local('Raleway SemiBold'), 
    local('Raleway-SemiBold'), 
    url('../fonts/raleway/ralewaysemibold.woff2') format('woff2'), 
    url('../fonts/raleway/ralewaysemibold.woff') format('woff'), 
    url('../fonts/raleway/ralewaysemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-bold';
    src: local('Raleway Bold'), 
    local('Raleway-Bold'), 
    url('../fonts/raleway/ralewaybold.woff2') format('woff2'), 
    url('../fonts/raleway/ralewaybold.woff') format('woff'), 
    url('../fonts/raleway/ralewaybold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-extrabold';
    src: local('Raleway ExtraBold'), 
    local('Raleway-ExtraBold'), 
    url('../fonts/raleway/ralewayextrabold.woff2') format('woff2'), 
    url('../fonts/raleway/ralewayextrabold.woff') format('woff'), 
    url('../fonts/raleway/ralewayextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), 
    url('../fonts/roboto/Roboto.woff2') format('woff2'), 
    url('../fonts/roboto/Roboto.woff') format('woff'), 
    url('../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0;
    overflow-x: hidden;
}
.arrows-right {
    top: 46%;
    right: 8%;
    position: absolute;
    height: 73px;
    width: 40px;
    background-image: url(../images/right.png);
    z-index: 10;
}
.arrows-left {
    top: 46%;
    left: 8%;
    position: absolute;
    height: 73px;
    width: 40px;
    background-image: url(../images/left-ac.png);
    z-index: 10;
}
.arrows-right:hover .arr-right{
   visibility: hidden;
}
.arrows-left:hover .arr-left{
    visibility: hidden;
 }
.arr-left {
    position: absolute;
}
.arr-right {
    position: absolute;
    transform: scale(-1, 1);
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-1 {
    position: relative;
    background-image: url(../images/photo.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}
.header {
    padding-top: 40px;
    max-width: 1178px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-text-hd {
    font-size: 34px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}
.menu {
    padding: 0 0 4px 105px;
}
.menu ul {
    list-style: none;
    width: 640px;
    display: flex;
    justify-content: space-between;
}
.menu ul li a {
    font-size: 14px;
    font-family: "Montserrat-light";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}
.menu ul li a:hover {
    color: #c7b299;
    cursor: pointer;
}
.icon-block {
    width: 70px;
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
}
.icon-block a:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}
.wrap-bd {
    display: flex;
    justify-content: center;
    position: relative;
    top: 26%;
}
.slogan {
    width: 597px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-1 p {
    margin: 0;
    font-size: 36px;
    font-family: "Raleway-medium";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding: 2px 14px 0 0;
}
.box-2 {
    margin-top: 5px;
}
.box-2 p {
    margin: 0;
    font-size: 52px;
    font-family: "Raleway-extrabold";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding-right: 14px;
}
.box-3 {
    margin-top: 10px;
}
.box-3 p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat-light";
    color: rgb(255, 255, 255);
    line-height: 1.5;
}
.box-4 {
    margin-top: 50px;
}
.box-4 button {
    background-color: #998675;
    border-radius: 5px;
    box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
    width: 170px;
    height: 53px;
    font-size: 14px;
    font-family: "Raleway-extrabold";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.643;
}
.box-4 button:hover {
    cursor: pointer;
    background-color: #99864C;
}
.slides {
    display: flex;
    justify-content: space-between;
    width: 100px;
    position: absolute;
    bottom: 4%;
    left: calc(50% - 58px);
}
.circle {
    width: 15px;
    height: 15px;
    background-image: url(../images/01.png);
    background-repeat: no-repeat;
    background-position: center;
}
.circle:hover {
    background-image: url(../images/02.png);
}

.section-2 {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.wrap-2 {
    width: 1165px;
    margin-top: 77px;
}
.text-one p {
    font-size: 30px;
    font-family: "Raleway-semibold";
    color: rgb(85, 85, 85);
    line-height: 1.2;
    text-align: center;
    margin: 0;
}
.text-two {
    max-width: 760px;
    text-align: center;
    margin: 13px auto 33px;
}
.text-two p {
    font-size: 16px;
    font-family: "Montserrat-light";
    color: rgb(140, 140, 140);
    line-height: 1.75;
    margin: 0;
}
.all {
    width: 70px;
    height: 32px;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Montserrat-light";
    color: rgb(140, 140, 140);
    line-height: 1.5;
    border: 1px solid #ebebeb;
    padding: 0;
    background: white;
}
.web-design {
    background: white;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Montserrat-light";
    line-height: 1.5;
    width: 124px;
    height: 32px;
    color: rgb(140, 140, 140);
    padding: 0;
}
.mobile-app {
    background: white;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Montserrat-light";
    line-height: 1.5;
    width: 124px;
    height: 32px;
    color: rgb(140, 140, 140);
    padding: 0;
}
.illustration {
    background: white;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Montserrat-light";
    line-height: 1.5;
    width: 124px;
    height: 32px;
    color: rgb(140, 140, 140);
    padding: 0;
}
.photography{
    background: white;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Montserrat-light";
    line-height: 1.5;
    width: 139px;
    height: 32px;
    color: rgb(140, 140, 140);
    padding: 0;
}
.btn:hover {
    background: #998675;
    color: white;
    border: none;
}
.text-three {
    width: 610px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.block-2 {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}
.bl-1 {
    height: 236px;
    position: relative;
    background: black;
}
.bl-hover {
    visibility: hidden;
    position: absolute;
    width: 85px;
    display: flex;
    justify-content: space-around;
    top: calc(50% - 13px);
    left: calc(50% - 42px);
    z-index: 30;
}
.bl-2 {
    background: #fbfaf8;
    width: 370px;
    height: 100px;
}
.bl-2_wrap {
    display: flex;
    flex-direction: column;
    width: 302px;
    margin: 0 auto;
    padding-top: 30px;
}
.bl-arrow {
    width: 30px;
    height: 10px;
    background-image: url(../images/project1/arrow.png);
    position: absolute;
    bottom: -2px;
    left: 20px;
}
.block-wrap_1:hover .bl-img {
    opacity: 0.3;
}
.block-wrap_1:hover .bl-arrow {
    background-image: url(../images/project2/arrow.png);
    opacity: 1;
    z-index: 20;
}
.block-wrap_1:hover .bl-hover {
    visibility: visible;
}
.block-wrap_1:hover .bl-text-1 {
    color: white;
}
.block-wrap_1:hover .bl-text-2 {
    color: rgb(199, 178, 153);
}
.block-wrap_1:hover .bl-2 {
    background: #362f2d;
}
.bl-text-1 {
    font-size: 20px;
    font-family: "Raleway-medium";
    color: rgb(199, 178, 153);
    line-height: 1.2;
}
.bl-text-2 {
    font-size: 14px;
    font-family: "Montserrat-light";
    color: rgb(209, 209, 209);
    line-height: 1.429;
}
.block-3 {
    margin: 40px 0 80px;
    text-align: center;
}
.block-3 button{
    font-size: 14px;
    font-family: "Raleway-extrabold";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.643;
    border-radius: 3px;
    border: none;
    width: 170px;
    height: 50px;
    background-color: #998675;
}
.block-3 button:hover {
    cursor: pointer;
    background-color: #99864C;
}
.section-3 {
    height: 300px;
    width: 100vw;
    background-image: url(../images/Background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wrap-section_3{
    width: 995px;
    display: flex;
    justify-content: space-around;
    padding: 10px 7px 0 0 ;
}
.boxes {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxes-num{
    padding-top: 30px;
    font-size: 48px;
    font-family: "Montserrat-light";
    color: rgb(255, 255, 255);
    line-height: 0.75;
}
.boxes-text {
    padding-top: 16px;
    font-size: 14px;
    font-family: "Montserrat-light";
    color: rgb(199, 178, 153);
    text-transform: uppercase;
    line-height: 1.429;
}
.boxes-lines{
    padding-top: 25px;
}
.section-4 {
    background-image: url(../images/bg\ photo.png);
    width: 100vw;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wrap-section_4 {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    align-items: center;
}
.wrap-section_4 img {
    height: fit-content;
}