$one: 1px solid black;
$two: 1px solid yellow;
$three: 1px solid red;
$four: 1px solid green;
$five: 1px solid blue;
$six: 1px solid grey;
$seven: 1px solid pink;
$size: 10px;



/********* MAIN *********/

.main {
    .header {
        text-align: center;
        display: grid;
        grid-template-columns: 60% 40%;
        border: $one;
        .logo {
            img {
                width: 100px;
                height: 80px;
            }
        }
        .navigation {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                font-size: 30px;
                text-decoration: none;
            }
        }
    }
    .article-1 {
        display: grid;
        grid-template-columns: 30% 70%;
        border: $two;
        .first{
            display: grid;
            grid-template-rows: 42% 43% 12%;
            grid-template-columns: 1fr 1fr;
            grid-gap: 8px;
            padding: 10px;
            .block {
                border: $three;
                font-size: $size;
                display: flex;
                align-items: center;
                text-align: center;
            }
            
        }
        .second {
            display: grid;
            font-size: $size;
            grid-template-areas: 
            "box1 box1 ."
            ". box2 box2"
            "box3 box3 box3";
            grid-template-rows: 147px 125px;
            grid-template-columns: 40% 9%;
            grid-row-gap: 5px;
            .box-1 {
                border: $six;
                grid-area: box1;
                img {
                    max-width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    float: right;
                }
            }
            .box-2 {
                border: $six;
                grid-area: box2;
                img {
                    max-width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    float: left;
                }
            }
            .box-3 {
                grid-area: box3;
                img {
                    width: 100%;
                }
            }
        }
    }
    .article-2 {
        border: $four;
        height: 50px;
        width: 80%;
        margin: 20px auto;
        overflow-y: scroll;
        p {
            font-size: 16px
        }
    }
    .article-3 {
        .third {
            .rows {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-gap: 10px;
                .row {
                    border: $seven;
                    padding: 10px;
                }
            }
            .image {
                margin-top: 20px;
                text-align: center;
                img {
                    width: 100%;
                }
            }
        }
    }

}

/********* MEDIA ********/

@media screen and (max-width: 400px){
    .second{
            grid-template-columns: 0% 100% !important;
    }
    .article-2 {
        display: none;
    }
    .rows {
        grid-template-columns: initial !important;
    }
}