.cart div {
    position: absolute;
    left: 5%;
    top: 5%;
}
.box {
    height: 62px;
    width: 62px;
    border: 1px solid black;
}
.game-board {
    display: flex;
    flex-wrap: wrap;
    width: 515px;
    margin: 0 auto;
}