.main {
    width: 400px;
    height: 400px;
    margin: 0px auto;
    border: 1px solid black;
}
.block {
    width: 50px;
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.block:nth-child(-n+18) {
    color: gainsboro;
}
.black {
    background: #795548;
}
.white {
    background: beige;
}
