body {
    overflow: hidden;
    font-size: 12px;
}
div {
    border: 1px solid black;
}
@media screen and (min-width: 400px) {
    .main {
        grid-template-columns: 2fr 4fr 1.5fr 4.5fr;
        grid-template-rows: 0.5fr 1.5fr 0.5fr 50px 0.5fr;
        grid-template-areas: 
        "lo lo lo as"
        "ae tk tk tk"
        "ae fs fs fs"
        "ow ow ow ow"
        "ao ao ao ao"
        "hs hs hs hs"
        ;
    }
}
@media screen and (max-width: 400px) {
    .main {
        .logo {
            justify-items: center;
            align-items: center;
            display: grid;
        }
        grid-template-columns: 2fr 4fr 1.5fr 4.5fr;
        grid-template-rows: 0.5fr 0.5fr 1fr 2fr;
        grid-template-areas: 
        "lo lo lo lo"
        "as as as as"
        "ae tk tk tk"
        "ae fs fs fs"
        "ao ao ao ao"
        "hs hs hs hs"
        ;
    }
}
.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    .logo {
        grid-area: lo;
        img {
            max-width: 50px;
        }
    }
    .about-scss {
        grid-area: as;
        display: grid;
        grid-template-columns: 1fr 1fr;
        a {
            display: grid;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    .aside-one {
        grid-area: ae;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        font-size: 12px;
        .box-1 {
            grid-area: b1;
        }
        .box-2 {
            grid-area: b2;
        }
        .box-3 {
            grid-area: b3;
        }
        .box-4 {
            grid-area: b4;
        }  
        .box {
            justify-self: center;
            width: 100px;
            max-height: 150px;
            display: flex;
            align-items: center;
            justify-items: center;
        }
    }    
    @media screen and (min-width: 400px) {
        .aside-one {
            grid-template-areas: 
            " b1 ."
            "b1 b2"
            "b3 b2"
            "b3 b4"
            ". b4"
            ;
        }
    }
    @media screen and (max-width: 400px) {
        .aside-one {
            grid-template-areas: 
            ". b1"
            "b2 b1"
            "b2 b3"
            "b4 b3"
            "b4 ."
            ;
        }
    }
    @media screen and (max-width: 400px) {
        .two-block{
            .block-1 {
                width: 100%;
            }
            .block-2 {
                width: 100%;
            }
        }
    }
    @media screen and (min-width: 400px) {
        .two-block{
            .block-1 {
                width: 50%;
            }
            .block-2 {
                width: 60%;
            }
        }
    }
    .two-block {
        grid-area: tk;
        display: grid;
        font-size: 12px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .block-1 {
            height: fit-content;
            img {
                float: right;
            }
        }
        .block-2 {
            height: fit-content;
            justify-self: end;
            img {
                float: left;
            }
        }
    }
    .flowers {
        grid-area: fs;
        display: grid;
        align-items: center;
        justify-items: center;
        img {
            max-width: 185px;
        }
    }
    .one-row {
        grid-area: ow;
        width:100%;
        white-space:nowrap;
        overflow:hidden;
        display: flex;
        align-items: center;
        span {
            color:#212121;
            font-size:14px;
            display:inline-block;
            padding-left:100%;
            -webkit-animation: marquee 10s infinite linear;
            animation: marquee 10s infinite linear;
        }
        @-webkit-keyframes marquee {
            0%{-webkit-transform: translate(0, 0);}
            100%{-webkit-transform: translate(-100%, 0);}
        }
        @keyframes marquee{
            0%{transform: translate(0, 0);}
            100%{transform: translate(-100%, 0)}
        }
    }
    @media screen and (max-width: 400px){
        .one-row {
            display: none;
        }
    }
    .aside-two {
        display: flex;
        grid-area: ao;
    }
    @media screen and (max-width: 400px){
        .aside-two {
            display: block;
        }
    }
    .hills {
        grid-area: hs;
        display: grid;
        align-items: center;
        justify-items: center;
        img {
            max-width: 200px;
        }
    }
}