#paravozik {
    position: relative;
    margin-left: 40%;
    width: fit-content;
}
img {
    width: 200px;
    height: 200px;
}
body {
    overflow: hidden;
}
.light {
    border-top: 10px solid white;
    border-left: 100px solid yellow;
    border-bottom: 10px solid white;
    border-radius: 20%;
    position: absolute;
    bottom: 33%;
    right: 92%;
}
.controll {
    border: 2px solid black;
    width: fit-content;
    position: relative;
    left: 40%;
    margin-top: 50px;
}
.left {
    width: 0; 
    height: 0;
    border-top: 30px solid white;
    border-right: 60px solid red;
    border-bottom: 30px solid white;
    margin-right: 10px;
}
.right {
    border-top: 30px solid white;
    border-left: 60px solid red;
    border-bottom: 30px solid white;
    margin-left: 10px;
}