.circle {
    width:20px;
    height:20px;
    border: 1px solid black;
    border-radius: 50%;
}
.wrap {
  margin: 0 auto;
  width: fit-content;
}
.list-films {
  margin: 10px;
}
.table {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-top: 20px;
}
table, td {
  border: 1px solid black;
}

span {
  border: 1px solid black;
    display: -webkit-inline-box;
    padding: 5px;
    width: -webkit-fill-available;
}
.name-link, .field {
  text-align: center;
}
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
}