.circle {
    width:20px;
    height:20px;
    border: 1px solid black;
    border-radius: 50%;
}
.wrap {
  display: flex;
  justify-content: center;
}
.pagination {
  text-align: center;
  margin-top: 20px;
}
a {
  margin: 2px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}